
.calculating__field {
    width: 100%;
    margin-top: 30px;
    padding: 30px 0 40px 0;
}

.calculating__subtitle {
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    margin-top: 30px;
}

.calculating__choose {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    margin-top: 30px;
    justify-content: center;
}

.calculating__choose-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 100%;
    padding: 0 10px;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .5);
    border: none;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    outline: 0;
    transition: .3s all;
}

.calculating__choose-item_active {
    color: #fff;
    background-color: #8bc281;
}

.calculating__choose_medium {
    max-width: 200px;
    height: 50px;
    justify-content: space-between;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .5);
    border: none;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    outline: 0;
    transition: .3s all;
}

.calculating__divider {
    width: 490px;
    height: 2px;
    margin: 40px auto 10px auto;
    background-color: rgba(0, 0, 0, .2);
}

.calculating__total {
    width: 490px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.calculating__result {
    font-size: 28px;
    font-weight: 700;
}