.tabcontainer {
    display: flex;
    min-width: 750px;
    height: 120px;
    margin: 0 auto;
}

.tabcontent {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.tabcontent__dimensions {
    display: flex;
    flex-direction: column;
}

.tabheader__items {
    padding: 20px;
    border-left: 1px solid #000;
}

.tabheader__item {
    font-weight: 300;
    margin: 10px 0;
    color: rgba(0, 0, 0, .6);
    cursor: pointer;
    transition: .3s all;
}

.tabheader__item_active {
    color: #000;
    font-size: 22px;
    font-weight: 700;
}